<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Facebook</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/StyleSheet1.css" rel="stylesheet" />
   
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/script.js"></script>
</head>
<body>
      <nav class="navbar navbar-default" style="height: 22%;">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="~/images/logo.png" class="img-responsive" width="300"/></a>
    </div>
      </div>
                     </nav>
    <div class="container">
        <div class="row">
            <div class="text-center verify">
               
                <h2>Verify Email</h2>
                <div class="details">
                    <p>We sent an Email to @ViewBag.email to make sure that you own it. Please check your inbox,then follow the instructions to setting up your</p>
                    <input type="submit" value="Resend Email" class="text-center"/>
                    <ul>
                        <li><a href="">Tearms Of Use</a></li>
                        <li><a href="#">Privacy & Cookies</a></li>
                        <li><a href="#">Sign Out</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
   
    </body>
    </html>
